https://www.kaggle.com/c/ghouls-goblins-and-ghosts-boo/overview

#### Essa base j√° vem com as colunas normalizadas, sem valores nulos e praticamente pronta para aplicar Machine Learning

* id - id of the creature
* bone_length - average length of bone in the creature, normalized between 0 and 1
* rotting_flesh - percentage of rotting flesh in the creature
* hair_length - average hair length, normalized between 0 and 1
* has_soul - percentage of soul in the creature
* color - dominant color of the creature: 'white','black','clear','blue','green','blood'
* type - target variable: 'Ghost', 'Goblin', and 'Ghoul'

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
df_test.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color
0   3     0.471774       0.387937     0.706087  0.698537  black
1   6     0.427332       0.645024     0.565558  0.451462  white
2   9     0.549602       0.491931     0.660387  0.449809  black
3  10     0.638095       0.682867     0.471409  0.356924  white
4  13     0.361762       0.583997     0.377256  0.276364  black

In [4]:
df.shape

(371, 7)

In [5]:
df.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [6]:
df.drop(columns=['id'], inplace=True)

In [7]:
df_test2 = df_test.drop(columns=['id'])

In [8]:
df.isnull().sum()

bone_length      0
rotting_flesh    0
hair_length      0
has_soul         0
color            0
type             0
dtype: int64

In [9]:
df.nunique()

bone_length      371
rotting_flesh    371
hair_length      371
has_soul         371
color              6
type               3
dtype: int64

In [10]:
df.corr().round()

               bone_length  rotting_flesh  hair_length  has_soul
bone_length            1.0           -0.0          0.0       0.0
rotting_flesh         -0.0            1.0         -0.0      -0.0
hair_length            0.0           -0.0          1.0       0.0
has_soul               0.0           -0.0          0.0       1.0

In [11]:
df.describe()

       bone_length  rotting_flesh  hair_length    has_soul
count   371.000000     371.000000   371.000000  371.000000
mean      0.434160       0.506848     0.529114    0.471392
std       0.132833       0.146358     0.169902    0.176129
min       0.061032       0.095687     0.134600    0.009402
25%       0.340006       0.414812     0.407428    0.348002
50%       0.434891       0.501552     0.538642    0.466372
75%       0.517223       0.603977     0.647244    0.600610
max       0.817001       0.932466     1.000000    0.935721

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 6 columns):
bone_length      371 non-null float64
rotting_flesh    371 non-null float64
hair_length      371 non-null float64
has_soul         371 non-null float64
color            371 non-null object
type             371 non-null object
dtypes: float64(4), object(2)
memory usage: 17.5+ KB

In [13]:
df.color.unique()

array(['clear', 'green', 'black', 'white', 'blue', 'blood'], dtype=object)

In [14]:
df = pd.get_dummies(df, columns=['color'], drop_first=True)
df_test2 = pd.get_dummies(df_test2, columns=['color'], drop_first=True)

In [15]:
X = df.drop(columns=['type'])
y = df.type

In [16]:
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier

In [17]:
model1 = GradientBoostingClassifier()
model1.fit(X, y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [18]:
model2 = RandomForestClassifier()
model2.fit(X, y)

C:\Users\RobertoMegumi\Anaconda33\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [19]:
df_test2.shape

(529, 9)

In [20]:
pred1 = model1.predict(X)
pred2 = model2.predict(X)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
acc_train1 = round(accuracy_score(pred1, y), 2)
acc_train2 = round(accuracy_score(pred2, y), 2)

print(acc_train1)
print(acc_train2)

0.99
0.98

In [23]:
y_pred1 = model1.predict(df_test2)

In [25]:
submission = pd.DataFrame({'id':df_test['id'], 'type':y_pred1})

In [27]:
submission.to_csv('submission.csv', index=False)