https://www.kaggle.com/c/otto-group-product-classification-challenge

Base com 93 parâmetros e o target

O objetivo foi selecionar e reduzir a quantidade desses parâmetros

Para isso foram utilizados:

* Boruta
* Chi Quadrado
* RFE
* Random Forest
* Variance Threshold

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61878 entries, 0 to 61877
Data columns (total 95 columns):
id         61878 non-null int64
feat_1     61878 non-null int64
feat_2     61878 non-null int64
feat_3     61878 non-null int64
feat_4     61878 non-null int64
feat_5     61878 non-null int64
feat_6     61878 non-null int64
feat_7     61878 non-null int64
feat_8     61878 non-null int64
feat_9     61878 non-null int64
feat_10    61878 non-null int64
feat_11    61878 non-null int64
feat_12    61878 non-null int64
feat_13    61878 non-null int64
feat_14    61878 non-null int64
feat_15    61878 non-null int64
feat_16    61878 non-null int64
feat_17    61878 non-null int64
feat_18    61878 non-null int64
feat_19    61878 non-null int64
feat_20    61878 non-null int64
feat_21    61878 non-null int64
feat_22    61878 non-null int64
feat_23    61878 non-null int64
feat_24    61878 non-null int64
feat_25    61878 non-null int64
feat_26    61878 non-null int64
feat_27    61878 non-null int64
feat_28    61878 non-null int64
feat_29    61878 non-null int64
feat_30    61878 non-null int64
feat_31    61878 non-null int64
feat_32    61878 non-null int64
feat_33    61878 non-null int64
feat_34    61878 non-null int64
feat_35    61878 non-null int64
feat_36    61878 non-null int64
feat_37    61878 non-null int64
feat_38    61878 non-null int64
feat_39    61878 non-null int64
feat_40    61878 non-null int64
feat_41    61878 non-null int64
feat_42    61878 non-null int64
feat_43    61878 non-null int64
feat_44    61878 non-null int64
feat_45    61878 non-null int64
feat_46    61878 non-null int64
feat_47    61878 non-null int64
feat_48    61878 non-null int64
feat_49    61878 non-null int64
feat_50    61878 non-null int64
feat_51    61878 non-null int64
feat_52    61878 non-null int64
feat_53    61878 non-null int64
feat_54    61878 non-null int64
feat_55    61878 non-null int64
feat_56    61878 non-null int64
feat_57    61878 non-null int64
feat_58    61878 non-null int64
feat_59    61878 non-null int64
feat_60    61878 non-null int64
feat_61    61878 non-null int64
feat_62    61878 non-null int64
feat_63    61878 non-null int64
feat_64    61878 non-null int64
feat_65    61878 non-null int64
feat_66    61878 non-null int64
feat_67    61878 non-null int64
feat_68    61878 non-null int64
feat_69    61878 non-null int64
feat_70    61878 non-null int64
feat_71    61878 non-null int64
feat_72    61878 non-null int64
feat_73    61878 non-null int64
feat_74    61878 non-null int64
feat_75    61878 non-null int64
feat_76    61878 non-null int64
feat_77    61878 non-null int64
feat_78    61878 non-null int64
feat_79    61878 non-null int64
feat_80    61878 non-null int64
feat_81    61878 non-null int64
feat_82    61878 non-null int64
feat_83    61878 non-null int64
feat_84    61878 non-null int64
feat_85    61878 non-null int64
feat_86    61878 non-null int64
feat_87    61878 non-null int64
feat_88    61878 non-null int64
feat_89    61878 non-null int64
feat_90    61878 non-null int64
feat_91    61878 non-null int64
feat_92    61878 non-null int64
feat_93    61878 non-null int64
target     61878 non-null object
dtypes: int64(94), object(1)
memory usage: 44.8+ MB

In [5]:
df.target.unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

In [6]:
df.shape

(61878, 95)

# Seleção de variáveis

In [7]:
X = df.drop(columns=['id', 'target'])

In [8]:
y = df.target

### Boruta

In [10]:
from sklearn.ensemble import RandomForestClassifier
from boruta import BorutaPy
rfc = RandomForestClassifier(n_estimators=1000, n_jobs=-1, class_weight='balanced')
boruta_selector = BorutaPy(rfc, n_estimators='auto', verbose=2)

boruta_selector.fit(X.values, y.values)

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	93
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	93
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	93
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	93
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	93
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	93
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	93
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	35
Tentative: 	8
Rejected: 	50
Iteration: 	9 / 100
Confirmed: 	35
Tentative: 	8
Rejected: 	50
Iteration: 	10 / 100
Confirmed: 	35
Tentative: 	8
Rejected: 	50
Iteration: 	11 / 100
Confirmed: 	35
Tentative: 	8
Rejected: 	50
Iteration: 	12 / 100
Confirmed: 	35
Tentative: 	8
Rejected: 	50
Iteration: 	13 / 100
Confirmed: 	35
Tentative: 	8
Rejected: 	50
Iteration: 	14 / 100
Confirmed: 	35
Tentative: 	7
Rejected: 	51
Iteration: 	15 / 100
Confirmed: 	35
Tentative: 	7
Rejected: 	51
Iteration: 	16 / 100
Confirmed: 	35
Tentative: 	4
Rejected: 	54
Iteration: 	17 / 100
Confirmed: 	35
Tentative: 	4
Rejected: 	54
Iteration: 	18 / 100
Confirmed: 	35
Tentative: 	4
Rejected: 	54
Iteration: 	19 / 100
Confirmed: 	35
Tentative: 	4
Rejected: 	54
Iteration: 	20 / 100
Confirmed: 	35
Tentative: 	4
Rejected: 	54
Iteration: 	21 / 100
Confirmed: 	35
Tentative: 	3
Rejected: 	55
Iteration: 	22 / 100
Confirmed: 	35
Tentative: 	3
Rejected: 	55
Iteration: 	23 / 100
Confirmed: 	35
Tentative: 	3
Rejected: 	55
Iteration: 	24 / 100
Confirmed: 	35
Tentative: 	3
Rejected: 	55
Iteration: 	25 / 100
Confirmed: 	35
Tentative: 	3
Rejected: 	55
Iteration: 	26 / 100
Confirmed: 	36
Tentative: 	2
Rejected: 	55
Iteration: 	27 / 100
Confirmed: 	36
Tentative: 	2
Rejected: 	55
Iteration: 	28 / 100
Confirmed: 	36
Tentative: 	2
Rejected: 	55
Iteration: 	29 / 100
Confirmed: 	36
Tentative: 	2
Rejected: 	55
Iteration: 	30 / 100
Confirmed: 	36
Tentative: 	2
Rejected: 	55
Iteration: 	31 / 100
Confirmed: 	36
Tentative: 	2
Rejected: 	55
Iteration: 	32 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	33 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	34 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	35 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	36 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	37 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	38 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	39 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	40 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	41 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	42 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	43 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	44 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	45 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	46 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	47 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	48 / 100
Confirmed: 	37
Tentative: 	1
Rejected: 	55
Iteration: 	49 / 100
Confirmed: 	37
Tentative: 	0
Rejected: 	56


BorutaPy finished running.

Iteration: 	50 / 100
Confirmed: 	37
Tentative: 	0
Rejected: 	56

BorutaPy(alpha=0.05,
     estimator=RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=87, n_jobs=-1, oob_score=False,
            random_state=<mtrand.RandomState object at 0x000002D5A42F6DC8>,
            verbose=0, warm_start=False),
     max_iter=100, n_estimators='auto', perc=100,
     random_state=<mtrand.RandomState object at 0x000002D5A42F6DC8>,
     two_step=True, verbose=2)

In [12]:
boruta_support = boruta_selector.support_

In [13]:
boruta_feature = X.loc[:,boruta_support].columns.tolist()
print(str(len(boruta_feature)), 'variáveis selecionadas:')
print(str(boruta_feature))

37 variáveis selecionadas:
['feat_3', 'feat_8', 'feat_9', 'feat_11', 'feat_14', 'feat_15', 'feat_16', 'feat_17', 'feat_24', 'feat_25', 'feat_26', 'feat_32', 'feat_34', 'feat_36', 'feat_39', 'feat_40', 'feat_42', 'feat_43', 'feat_48', 'feat_50', 'feat_53', 'feat_54', 'feat_59', 'feat_60', 'feat_62', 'feat_64', 'feat_67', 'feat_68', 'feat_69', 'feat_72', 'feat_75', 'feat_76', 'feat_78', 'feat_85', 'feat_86', 'feat_88', 'feat_90']

### Chi2

In [14]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import MinMaxScaler

In [15]:
x_norm = MinMaxScaler().fit_transform(X)

chi2_selector = SelectKBest(chi2)
chi2_selector.fit(x_norm, y)

chi2_s = chi2_selector.get_support()

chi_feature = X.loc[:,chi2_s].columns.tolist()
print(str(len(chi_feature)), 'variáveis selecionadas:')
print(str(chi_feature))

10 variáveis selecionadas:
['feat_3', 'feat_11', 'feat_14', 'feat_26', 'feat_34', 'feat_39', 'feat_46', 'feat_60', 'feat_69', 'feat_90']

In [16]:
len(chi_feature)

10

### RFE

In [17]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [18]:
rfe_selector = RFE(estimator=LogisticRegression(), step=10)

In [19]:
rfe_selector.fit(X, y)
rfe_support = rfe_selector.get_support()
rfe_feature = X.loc[:,rfe_support].columns.tolist()

print(str(len(rfe_feature)), 'variáveis selecionadas:')
print(str(rfe_feature))

46 variáveis selecionadas:
['feat_6', 'feat_7', 'feat_11', 'feat_14', 'feat_15', 'feat_17', 'feat_21', 'feat_23', 'feat_25', 'feat_26', 'feat_29', 'feat_30', 'feat_34', 'feat_36', 'feat_39', 'feat_40', 'feat_42', 'feat_43', 'feat_45', 'feat_47', 'feat_50', 'feat_51', 'feat_52', 'feat_57', 'feat_58', 'feat_59', 'feat_60', 'feat_61', 'feat_68', 'feat_69', 'feat_72', 'feat_73', 'feat_75', 'feat_76', 'feat_77', 'feat_78', 'feat_81', 'feat_82', 'feat_83', 'feat_84', 'feat_86', 'feat_88', 'feat_90', 'feat_91', 'feat_92', 'feat_93']

### Random Forest

In [20]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

In [21]:
em_selector = SelectFromModel(RandomForestClassifier(n_estimators=100))
em_selector.fit(X, y)

em_support = em_selector.get_support()
em_feature = X.loc[:, em_support].columns.tolist()

print(str(len(em_feature)), 'variáveis selecionadas:')
print(str(em_feature))

35 variáveis selecionadas:
['feat_3', 'feat_8', 'feat_9', 'feat_11', 'feat_14', 'feat_15', 'feat_16', 'feat_24', 'feat_25', 'feat_26', 'feat_27', 'feat_32', 'feat_33', 'feat_34', 'feat_36', 'feat_39', 'feat_40', 'feat_42', 'feat_43', 'feat_48', 'feat_53', 'feat_54', 'feat_60', 'feat_62', 'feat_64', 'feat_67', 'feat_68', 'feat_69', 'feat_72', 'feat_75', 'feat_76', 'feat_80', 'feat_86', 'feat_88', 'feat_90']

### Variance Threshold

In [22]:
from sklearn.feature_selection import VarianceThreshold

In [23]:
vt_selector = VarianceThreshold(threshold=0.0015)
vt_selector.fit_transform(x_norm)

vt_support = vt_selector.get_support()
vt_feature = X.loc[:, vt_support].columns.tolist()

print(str(len(vt_feature)), 'variáveis selecionadas:')
print(str(vt_feature))

38 variáveis selecionadas:
['feat_3', 'feat_4', 'feat_9', 'feat_11', 'feat_14', 'feat_15', 'feat_16', 'feat_18', 'feat_20', 'feat_21', 'feat_22', 'feat_25', 'feat_26', 'feat_33', 'feat_34', 'feat_38', 'feat_39', 'feat_40', 'feat_42', 'feat_43', 'feat_44', 'feat_46', 'feat_48', 'feat_54', 'feat_60', 'feat_62', 'feat_64', 'feat_67', 'feat_69', 'feat_70', 'feat_72', 'feat_75', 'feat_79', 'feat_80', 'feat_86', 'feat_88', 'feat_91', 'feat_92']

In [30]:
feature_selection_df = pd.DataFrame({'Variáveis': X.columns,
                                 'Boruta': boruta_support,
                                 'chi2': chi2_s,
                                 'RFE': rfe_support,
                                 'Random Forest': em_support,
                                 'Variance Threshold': vt_support})

feature_selection_df['Total'] = np.sum(feature_selection_df, axis=1)
feature_selection_df = feature_selection_df.sort_values(['Total', 'Variáveis'], ascending=False)
feature_selection_df.head(20)

   Variáveis  Boruta   chi2    RFE  Random Forest  Variance Threshold  Total
68   feat_69    True   True   True           True                True      5
59   feat_60    True   True   True           True                True      5
38   feat_39    True   True   True           True                True      5
33   feat_34    True   True   True           True                True      5
25   feat_26    True   True   True           True                True      5
13   feat_14    True   True   True           True                True      5
10   feat_11    True   True   True           True                True      5
89   feat_90    True   True   True           True               False      4
87   feat_88    True  False   True           True                True      4
85   feat_86    True  False   True           True                True      4
74   feat_75    True  False   True           True                True      4
71   feat_72    True  False   True           True                True      4
42   feat_43    True  False   True           True                True      4
41   feat_42    True  False   True           True                True      4
39   feat_40    True  False   True           True                True      4
2     feat_3    True   True  False           True                True      4
24   feat_25    True  False   True           True                True      4
14   feat_15    True  False   True           True                True      4
8     feat_9    True  False  False           True                True      3
75   feat_76    True  False   True           True               False      3

In [31]:
my_features = feature_selection_df[(feature_selection_df.Total == 5) | (feature_selection_df.Total == 4)]['Variáveis'].to_list()
len(my_features)

18

In [32]:
print(my_features)

['feat_69', 'feat_60', 'feat_39', 'feat_34', 'feat_26', 'feat_14', 'feat_11', 'feat_90', 'feat_88', 'feat_86', 'feat_75', 'feat_72', 'feat_43', 'feat_42', 'feat_40', 'feat_3', 'feat_25', 'feat_15']

In [33]:
expl = df[['feat_69', 'feat_60', 'feat_39', 'feat_34', 'feat_26', 'feat_14', 'feat_11', 'feat_90', 'feat_88', 'feat_86', 'feat_75', 'feat_72', 'feat_43', 'feat_42', 'feat_40', 'feat_3', 'feat_25', 'feat_15']]

In [34]:
expl.head()

,feat_69,feat_60,feat_39,feat_34,feat_26,feat_14,feat_11,feat_90,feat_88,feat_86,feat_75,feat_72,feat_43,feat_42,feat_40,feat_3,feat_25,feat_15
0,0,11,0,0,1,0,1,0,0,0,0,0,0,5,1,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,1,0,0,1,0,0,0,0,0,0,2,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

# Análise

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(expl, y)

In [37]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((46408, 18), (15470, 18), (46408,), (15470,))

In [38]:
from sklearn.ensemble import GradientBoostingClassifier

In [39]:
model = GradientBoostingClassifier()
model.fit(X_train, y_train)
pred_train = model.predict(X_train)
pred_test = model.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
acc_train = round(accuracy_score(pred_train, y_train) * 100, 2)
acc_test = round(accuracy_score(pred_test, y_test) * 100, 2)

print(acc_train)
print(acc_test)

70.29
69.09